.rounded-circle{
     width: 40px;
     height: 40px;
 }

h1 {
    letter-spacing: 20px;
}

.start {
    height: auto;
    font-family: Arial;
    font-weight: bold;
}

.navLogo {
    width: 5%;
}

.navPageName {
    width: 35%;
}

.navSearch {
    width: 30%;
    text-align: center;
}

.navPageLink {
    width: 25%;
}

.navLogin {
    width: 5%;
}

.mainContent {
    padding: 10px;
}

#topBlock {
    width: 100%;
    padding-left-right: 20px;
    padding-bottom: 20px;
}

#planBlock {
    width:20%;
    float: left;
    padding-right: 20px;
}

#mapBlock {
    width: 80%;
    float: right;
}

.equalWBtn {
    width: 100%;
    text-align: right;
}



/*map API*/
#map {
    width: 78vw;
    height:78vh;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
ion-icon {
    font-size: 20px;
    alignment: center;
}


@media screen and (max-width: 1050px){
    .navLogo {
        width: 15%;
    }

    .navPageName {
        width: 85%;
    }

    .navSearch {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .navPageLink {
        width: 85%;
    }

    .navLogin {
        width: 15%;
    }
}
