<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8"></meta>
        <title>Home Page</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
        <script type="text/javascript" src="js/googlemap.js"></script>

        <!--responsive design-->
        <link rel="stylesheet" type="text/css" href="css/responsive_design.css"></link>
        <link rel="stylesheet" type="text/css" href="css/responsive_smaller.css" media="screen and (max-width: 900px)"></link>

    </head>

    <body>

        <div id="app">

            <!--navigation bar-->
            <div class="navbar navbar-light bg-light ">

                <div class="navLogo">
                    <img style="margin-right: 20px" src="css/logo.jpg" class="rounded-circle"></img>
                </div>


                <!-- search input box -->

                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-dark" type="submit" >-->
                <!--<ion-icon name="search"></ion-icon>-->
                <!--</button>-->
                <!--</form>-->

                <div class="navPageName">
                    <h1 style="text-align: center; font-family: Impact; color: darkorange"> HOME PAGE</h1>
                </div>

                <div class="navSearch">
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box"></input>
                </div>

                <div class="navPageLink">
                    <nav class="nav" style="float: end">
                        <a class="nav-link active" href="#" style="color: darkorange">HOME PAGE</a>
                        <div style="margin: 10px; width: 2px; height: 17px; background-color: red"></div>
                        <a class="nav-link" href="http://localhost:63342/4216project/home_page/wishlist_page.html?_ijt=sjmp3l7afd1bkrd5dkqg9cmc0b" style="color: darkgray">WISHLIST</a>
                        <!--<div style="margin: 10px; width: 2px; height: 15px; background-color: red"></div>-->
                        <!--<a class="nav-link" href="#">MY PLACE</a>-->
                    </nav>
                </div>

                <div class="navLogin" style="text-align: right">
                    <img src="css/logo.jpg" class="rounded-circle"></img>
                </div>

            </div>



            <!--main content-->
            <div class="mainContent" >

                <!--plan block-->
                <div id="planBlock">

                    <!--start place-->
                    <div>
                        <!--Todo: add to wishlist-->
                        <button style="float: right" type="button" class="btn btn-warning" v-click="like = !like">
                            <ion-icon v-if="!like" name="heart" style="color: white"></ion-icon>
                            <ion-icon v-if="like" name="heart" style="color: red"></ion-icon>
                        </button>

                        <!--Todo: update the start place after setting the origin, default is current location-->
                        <p style="color: darkslategrey">Start from</p>
                        <p style="color: darkorange">{{ startPlace }}</p>

                        <!--search box for setting start location-->
                        <!--<div>-->
                        <!--<input id="address" type="textbox" value="Sydney, NSW">-->
                        <!--<input id="submit" type="button" value="Geocode">-->
                        <!--</div>-->
                    </div>

                    <!--stop list-->
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="n in 4">
                                <div class="dropdown">
                                    <button class="equalWBtn btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ stops[n-1] }}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" v-for="each in category" v-click="stops.splice(n-1, 1, each); sliderValue['Stop#'+n] = defaultValue[stops[n-1]];">{{ each }}</button>
                                    </div>
                                </div>
                                <div>
                                    <input class="custom-range" type="range" min="0" max="50" step="1" v-model="sliderValue['Stop#'+n]"></input>
                                    {{ sliderValue['Stop#' + n] + "km" }}
                                </div>
                            </li>
                        </ul>
                    </div>


                    <!--compute route button-->
                    <div style="padding-top: 10px">
                        <!--Todo: click to compute the route-->
                        <button style="width: 100%" type="button" class="btn btn-warning">Go!</button>
                    </div>

                </div>

                <!--map block-->
                <div id="mapBlock">
                    <div id="map"></div>
                </div>

            </div>


        </div>

        <!--my js-->
        <script type="text/javascript" src="js/myJavaScript.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuw4eThrp-qADrCQtA9hUAwXV9E-xlO74&amp;libraries=places&amp;callback=initAutocomplete" async="async" defer="defer"></script>
    </body>

</html>